<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>background</key>
    <string>#f5f5f5</string>
    <key>comment</key>
    <string>#8f5536</string>
    <key>header</key>
    <string>#d28445</string>
    <key>string</key>
    <string>#f4bf75</string>
    <key>keyword</key>
    <string>#ac4142</string>
    <key>definition</key>
    <string>#d28445</string>
    <key>linenumber</key>
    <string>#b0b0b0</string>
    <key>number</key>
    <string>#aa759f</string>
    <key>variable</key>
    <string>#90a959</string>
    <key>variable_2</key>
    <string>#6a9fb5</string>
    <key>variable_3</key>
    <string>#202020</string>
    <key>other</key>
    <string>#202020</string>
    <key>operator</key>
    <string>#202020</string>
    <key>bracket</key>
    <string>#202020</string>
</dict>
</plist>