<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>background</key>
    <string>#262626</string>
    <key>comment</key>
    <string>#666666</string>
    <key>header</key>
    <string>#ffffff</string>
    <key>string</key>
    <string>#bcd279</string>
    <key>keyword</key>
    <string>#599eff</string>
    <key>definition</key>
    <string>#ffffff</string>
    <key>linenumber</key>
    <string>#777777</string>
    <key>number</key>
    <string>#b35e4d</string>
    <key>variable</key>
    <string>#d9bf8c</string>
    <key>variable_2</key>
    <string>#669199</string>
    <key>variable_3</key>
    <string>#ffffff</string>
    <key>other</key>
    <string>#ebefe7</string>
    <key>operator</key>
    <string>#92a75c</string>
    <key>bracket</key>
    <string>#ebefe7</string>
</dict>
</plist>