<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>background</key>
    <string>#0a001f</string>
    <key>comment</key>
    <string>#6900a1</string>
    <key>header</key>
    <string>#ffffff</string>
    <key>string</key>
    <string>#37f14a</string>
    <key>keyword</key>
    <string>#599eff</string>
    <key>definition</key>
    <string>#ffffff</string>
    <key>linenumber</key>
    <string>#f8f8f8</string>
    <key>number</key>
    <string>#ffd500</string>
    <key>variable</key>
    <string>#f8f8f8</string>
    <key>variable_2</key>
    <string>#99b2ff</string>
    <key>variable_3</key>
    <string>#ffffff</string>
    <key>other</key>
    <string>#f8f8f8</string>
    <key>operator</key>
    <string>#f8f8f8</string>
    <key>bracket</key>
    <string>#8da6ce</string>
</dict>
</plist>