<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>background</key>
    <string>#2f1e2e</string>
    <key>comment</key>
    <string>#e96ba8</string>
    <key>header</key>
    <string>#f99b15</string>
    <key>string</key>
    <string>#fec418</string>
    <key>keyword</key>
    <string>#ef6155</string>
    <key>definition</key>
    <string>#f99b15</string>
    <key>linenumber</key>
    <string>#776e71</string>
    <key>number</key>
    <string>#815ba4</string>
    <key>variable</key>
    <string>#48b685</string>
    <key>variable_2</key>
    <string>#06b6ef</string>
    <key>variable_3</key>
    <string>#b9b6b0</string>
    <key>other</key>
    <string>#b9b6b0</string>
    <key>operator</key>
    <string>#b9b6b0</string>
    <key>bracket</key>
    <string>#b9b6b0</string>
</dict>
</plist>