<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>background</key>
    <string>#2c2827</string>
    <key>comment</key>
    <string>#a6c6ff</string>
    <key>header</key>
    <string>#757ad8</string>
    <key>string</key>
    <string>#66a968</string>
    <key>keyword</key>
    <string>#aeb2f8</string>
    <key>definition</key>
    <string>#757ad8</string>
    <key>linenumber</key>
    <string>#8f938f</string>
    <key>number</key>
    <string>#cccccc</string>
    <key>variable</key>
    <string>#aeb2f8</string>
    <key>variable_2</key>
    <string>#bebf55</string>
    <key>variable_3</key>
    <string>#de8e30</string>
    <key>other</key>
    <string>#8f938f</string>
    <key>operator</key>
    <string>#8f938f</string>
    <key>bracket</key>
    <string>#f8f8f2</string>
</dict>
</plist>