<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>background</key>
    <string>#141414</string>
    <key>comment</key>
    <string>#777777</string>
    <key>header</key>
    <string>#607392</string>
    <key>string</key>
    <string>#8f9d6a</string>
    <key>keyword</key>
    <string>#f9ee98</string>
    <key>definition</key>
    <string>#607392</string>
    <key>linenumber</key>
    <string>#aaaaaa</string>
    <key>number</key>
    <string>#ca7841</string>
    <key>variable</key>
    <string>#f7f7f7</string>
    <key>variable_2</key>
    <string>#607392</string>
    <key>variable_3</key>
    <string>#607392</string>
    <key>other</key>
    <string>#f7f7f7</string>
    <key>operator</key>
    <string>#cda869</string>
    <key>bracket</key>
    <string>#f7f7f7</string>
</dict>
</plist>