<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background</key>
	<string>#ffffff</string>
	<key>comment</key>
	<string>#0080ff</string>
	<key>header</key>
	<string>#000000</string>
	<key>string</key>
	<string>#ff0000</string>
	<key>keyword</key>
	<string>#5a5cad</string>
	<key>definition</key>
	<string>#000000</string>
	<key>linenumber</key>
	<string>#000000</string>
	<key>number</key>
	<string>#116644</string>
	<key>variable</key>
	<string>#000000</string>
	<key>variable_2</key>
	<string>#000000</string>
	<key>variable_3</key>
	<string>#000000</string>
	<key>other</key>
	<string>#000000</string>
	<key>operator</key>
    <string>#000000</string>
    <key>bracket</key>
    <string>#cccc77</string>
</dict>
</plist>
